# Ignore files without extensions
*
!*.*
!*/

# Ignore data files
**/*.txt
**/*.json
**/*.in
**/*.out
**/*.ans

# Ignore directories beginning with a dot
**/.*/

# Don't leak Project Euler solutions
/project_euler

# Ignore top-level source files
/*.h
/*.cpp
/*.java
/*.py
/*.ipynb
/*.s
/*.asm

# Ignore files that may contain sensitive information
**/.cprc
**/.kattisrc

# Un-ignore submodules
!/dactl/
!/kattis-cli/
