#Ignore files without extensions
*
!*.*
!*/

# Ignore data files
**/*.txt
**/*.json
**/*.in
**/*.out
**/*.ans

# Ignore directories beginning with a dot
**/.*/

# Don't leak Project Euler solutions
/project_euler

# Ignore top-level C++ source files
/*.h
/*.cpp

# Ignore files that may contain sensitive information
**/.cprc
**/.kattisrc
