
# Ignore data files
**/*.txt
**/*.json
**/*.in
**/*.out
**/*.ans

# Ignore most directories beginning with a dot by default
**/.*/
!/.dactl/
!/.kattis-cli/
!/.util/
!/.util/*
!/.cppath/
!/.cppath/*

# Ignore top-level source files
/*.h
/*.cpp
/*.java
/*.py
/*.ipynb
/*.s
/*.asm

# Ignore sensitive information
**/.kattisrc
**/project_euler

